body {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: auto;
}

.store-grid {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(100px, 1fr)) /* repeat(3, 1fr);
    grid-template-rows: 1fr; */
}

.store-item {
    text-align: center;
    width: auto;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.259);
}

.store-item:hover {
    
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    
}
img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid black;
}

.item-name {
    font-weight: 900;
    font-size: larger;
    margin: 0;
}

.item-price {
    font-weight: 900;
    font-size: x-large; 
    margin: 15px;
}


.italics {
    font-style: italic;
}