body {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: auto;
    font-weight: 500;
}
.btns {
    display: grid;
    grid-row-gap: 30px;
    justify-content: center;
    margin-top: 20vh;
}
img {
    width: 300px;
    height: 300px;
    opacity: 100%;
}
button {
    border: none;
    font-size: 25px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 3px;
}

button:hover {
  /*   background-color: rgb(6, 171, 88); */
    background-color: rgb(33, 214, 123);
    color: #f4f5f6f7;
    transform: scale(1.1); 
    transition: 0.1s;
}

#boton {
        margin-top: 20px;
        padding-left: 40px;
        padding-right: 40px ;
    }

 #contenido {
    margin: auto;
    margin-top: 340px;
    padding: 5px;
    text-align: center;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 #contenido:hover{
    transition: 0.1s;
    transform: scale(1.03);
 }

 #grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
 }

  #final {
      margin: auto;
      margin-top: 340px;
      padding: 5px;
      text-align: center;
      width: 30%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 230, 42);
  }

  #final:hover {
      transition: 0.1s;
      transform: scale(1.03);
  }