body {
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: brown;
    margin: auto;
    padding: auto;
}
.btns {
    display: grid;
    grid-row-gap: 30px;
    justify-content: center;
    margin-top: 20vh;
}
img {
    width: 200px;
    height: 200px;
    opacity: 70%;
    border-radius: 20%;
}
button {
    background-color: rgb(7, 110, 194);
    border: 100px;
    color: aliceblue;
    font-size: 25px;
    font-weight: bolder;
    padding: 5px;
    border-radius: 20px;
}

#boton {
        margin-top: 20px;
}

 #contenido {
    color: aliceblue;
    text-align: center;
    display: grid;
    margin: auto;
    margin-top: 340px;
 }

 #grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
 }